* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff4fd;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 1200px;
}

.bienvenidos {
    width: 100%;
    height: 23px;
    background-image: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%);
    box-shadow: 0 1px 0 0 #110038;
    margin-bottom: 30px;
}

.menus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 30px;
}

.crear-btn,
.theme {
    width: 144px;
    height: 36px;
    background: #f7c9f3;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
    font-size: 16px;
    color: #110038;
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;
}

.busqueda {
    width: 100%;
    height: 99px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titulo-buscar {
    height: 24px;
    background-image: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%);
}

.barra-buscar {
    height: 75px;
    background-color: #e6e6e6;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.barra-buscar input {
    height: 48px;
    width: 1057px;
}

.aceptar-btn {
    width: 102px;
    height: 36px;
}
