$bgColor: #fff4fd;
$fonts: "Chakra Petch", sans-serif;
$gradient: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%);

/* Buttons */

$btnBg: #f7c9f3;
$btnShadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
$btnBorder: 1px solid #110038;

/* Hover inner dashed border */

$outlined: 1px dashed black;
$offset: -3px;
