/* Buttons */
/* Buttons */
header {
  margin: 0 auto;
  background-color: greenyellow;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .bienvenidos {
  background-image: -webkit-gradient(linear, right top, left top, from(#f7c9f3), to(#4180f6));
  background-image: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%);
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-family: "Chakra Petch", sans-serif;
}

header .container {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px auto;
}

header .container .menus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  background-color: hotpink;
}

header .container .menus .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container .menus .logo img {
  width: 102.6px;
  height: 64px;
}

header .container .menus .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 38%;
}

header .container .menus .buttons .crear-btn {
  width: 144px;
  height: 36px;
  font-family: "Chakra Petch", sans-serif;
  background: #f7c9f3;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
}

header .container .menus .buttons .themes-container {
  position: relative;
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 10;
  margin: 5%;
  background-color: yellow;
}

header .container .menus .buttons .themes-container .elegir {
  width: 131px;
  height: 36px;
  font-family: "Chakra Petch", sans-serif;
  background: #f7c9f3;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
}

header .container .menus .buttons .themes-container .themes-name {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 5%;
  background: #e6e6e6;
  -webkit-box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
          box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
}

header .container .menus .buttons .themes-container .themes-name .themes-btn {
  position: relative;
  width: 150px;
  height: 36px;
  margin: 5% 0;
  background: #f0f0f0;
  border: 1px solid #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
  font-family: "Chakra Petch", sans-serif;
  text-align: left;
  padding: 0 5%;
}

header .container .menus .buttons .themes-container .themes-name .themes-btn::after {
  content: "__";
  position: absolute;
  top: 40%;
  left: 6%;
}

header .container .menus .buttons .themes-container .themes-name .themes-btn:hover {
  background: #fff4fd;
  border: 1px solid #cca6c9;
  -webkit-box-shadow: inset -1px -1px 0 0 #e6dce4, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #e6dce4, inset 1px 1px 0 0 #ffffff;
}

header .container .menus .buttons .themes-container .show {
  display: block;
}

header .container .menus .buttons .themes-container .themes-arrow {
  width: 36px;
  height: 36px;
  font-family: "Chakra Petch", sans-serif;
  background: #f7c9f3;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: red;
  font-family: "Chakra Petch", sans-serif;
  /*     display: flex;
    flex-direction: column; */
}

.show {
  display: block;
}
/*# sourceMappingURL=style.css.map */