/* Buttons */
/* Hover inner dashed border */
/* this files includes all elements insidade the header
   buttons, search bar, welcome bar, and search results*/
/* Buttons */
/* Hover inner dashed border */
header {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .bienvenidos {
  background-image: -webkit-gradient(linear, right top, left top, from(#f7c9f3), to(#4180f6));
  background-image: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%);
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-family: "Chakra Petch", sans-serif;
}

header .container {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px auto;
}

header .container .menus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

header .container .menus .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container .menus .logo img {
  width: 102.6px;
  height: 64px;
}

header .container .menus .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 38%;
}

header .container .menus .buttons .new-btn {
  width: 144px;
  height: 36px;
  font-family: "Chakra Petch", sans-serif;
  background: #f7c9f3;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
}

header .container .menus .buttons .new-btn:hover {
  outline: 1px dashed black;
  outline-offset: -3px;
}

header .container .menus .buttons .themes-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 10;
  margin: 5%;
}

header .container .menus .buttons .themes-container:hover .elegir,
header .container .menus .buttons .themes-container:hover .themes-arrow {
  outline: 1px dashed black;
  outline-offset: -3px;
}

header .container .menus .buttons .themes-container .elegir {
  width: 131px;
  height: 36px;
  font-family: "Chakra Petch", sans-serif;
  background: #f7c9f3;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
}

header .container .menus .buttons .themes-container .themes-name {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 5%;
  background: #e6e6e6;
  -webkit-box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
}

header .container .menus .buttons .themes-container .themes-name .themes-btn {
  position: relative;
  width: 150px;
  height: 36px;
  margin: 5% 0;
  background: #f0f0f0;
  border: 1px solid #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
  font-family: "Chakra Petch", sans-serif;
  text-align: left;
  padding: 0 5%;
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  line-height: 22px;
}

header .container .menus .buttons .themes-container .themes-name .themes-btn::after {
  content: "__";
  position: absolute;
  top: 35%;
  left: 6%;
}

header .container .menus .buttons .themes-container .themes-name .themes-btn:hover {
  background: #fff4fd;
  border: 1px solid #cca6c9;
  -webkit-box-shadow: inset -1px -1px 0 0 #e6dce4, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #e6dce4, inset 1px 1px 0 0 #ffffff;
}

header .container .menus .buttons .themes-container .show {
  display: block;
}

header .container .menus .buttons .themes-container .themes-arrow {
  width: 36px;
  height: 36px;
  font-family: "Chakra Petch", sans-serif;
  background: #f7c9f3;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
}

header .container .menus .buttons .favorites-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 99px;
  height: 36px;
}

header .container .menus .buttons .favorites-container:hover {
  outline: 1px dashed black;
  outline-offset: -3px;
}

header .container .menus .buttons .favorites-container .favorites {
  text-decoration: none;
  position: relative;
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  line-height: 18px;
  font-family: "Chakra Petch", sans-serif;
}

header .container .menus .buttons .favorites-container .favorites::after {
  content: "__";
  position: absolute;
  top: 20%;
  left: 0;
}

header .container .menus .buttons .favorites-container .favorites:active {
  color: #110038;
}

header .container .search-container {
  width: 100%;
  height: 99px;
  margin-top: 25px;
  background: #e6e6e6;
  -webkit-box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
          box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
}

header .container .search-container .search-title {
  background-image: -webkit-gradient(linear, right top, left top, from(#f7c9f3), to(#4180f6));
  background-image: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%);
  width: 99.5%;
  height: 24px;
  margin: 0.1% 0.2%;
  font-family: "Chakra Petch", sans-serif;
}

header .container .search-container .searchbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container .search-container .searchbar input {
  width: 85%;
  height: 48px;
  margin: 1% 2%;
  padding: 0 0.5%;
  background: #ffffff;
  border: 1px solid #979797;
  -webkit-box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
          box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  line-height: 22px;
  font-family: "Chakra Petch", sans-serif;
}

header .container .search-container .searchbar input::-webkit-input-placeholder {
  padding: 0 0.1%;
  font-family: "Chakra Petch", sans-serif;
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  line-height: 22px;
}

header .container .search-container .searchbar input:-ms-input-placeholder {
  padding: 0 0.1%;
  font-family: "Chakra Petch", sans-serif;
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  line-height: 22px;
}

header .container .search-container .searchbar input::-ms-input-placeholder {
  padding: 0 0.1%;
  font-family: "Chakra Petch", sans-serif;
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  line-height: 22px;
}

header .container .search-container .searchbar input::placeholder {
  padding: 0 0.1%;
  font-family: "Chakra Petch", sans-serif;
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  line-height: 22px;
}

header .container .search-container .searchbar button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 102px;
  height: 36px;
  background: #e6e6e6;
  border: 1px solid #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
}

header .container .search-container .searchbar button:active {
  background: #f7c9f3;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
}

/* Buttons */
/* Hover inner dashed border */
.main-content {
  width: 1200px;
  margin: 0 auto;
}

.main-content h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fffafe;
  border: 1px solid #e6bbe2;
  -webkit-box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #80687d;
          box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #80687d;
  color: #110038;
  padding-left: 1%;
  width: 100%;
  height: 32px;
  font-size: 14px;
  letter-spacing: 0;
  font-family: "Chakra Petch", sans-serif;
}

.main-content .suggested-container {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -webkit-column-gap: 12px;
          column-gap: 12px;
  max-width: 100%;
  height: 400px;
}

.main-content .suggested-container .suggested-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #e6e6e6;
  -webkit-box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
          box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
  width: 288px;
  height: 313px;
}

.main-content .suggested-container .suggested-img .img-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-image: -webkit-gradient(linear, right top, left top, from(#f7c9f3), to(#4180f6));
  background-image: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%);
  width: 280px;
  height: 24px;
}

.main-content .suggested-container .suggested-img .img-title h2 {
  font-family: "Chakra Petch", sans-serif;
  color: #ffffff;
  height: 18px;
  font-size: 14px;
  letter-spacing: 0;
  margin-left: 5px;
}

.main-content .suggested-container .suggested-img .img-title .close {
  width: 16px;
  height: 14px;
  margin-right: 5px;
}

.main-content .suggested-container .suggested-img img {
  width: 280px;
  height: 280px;
}

* {
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
}

html body {
  width: 100%;
  height: 100%;
  background-color: #fff4fd;
  font-family: "Chakra Petch", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /*     display: flex;
        flex-direction: column; */
}
/*# sourceMappingURL=style.css.map */