header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* Buttons (new, themes and misGuifos) */
}

header .bienvenidos {
  background-image: var(--gradient);
  width: 100%;
  color: var(--favs);
}

header .container {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px auto;
}

header .container .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container .logo .gifosLogo {
  width: 102.6px;
  height: 64px;
}

.menus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menus .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 30%;
}

.menus .buttons .btnNew {
  width: 144px;
  height: 36px;
  font-family: var(--font);
  background: var(--btnBg);
  border: var(--btnBorder);
  -webkit-box-shadow: var(--btnShadow);
          box-shadow: var(--btnShadow);
  color: var(--favs);
}

.menus .buttons .btnNew:hover {
  outline: var(--outlined);
  outline-offset: var(--offset);
}

.menus .buttons .choose {
  width: 131px;
  height: 36px;
  font-family: var(--font);
  background: var(--btnBg);
  border: var(--btnBorder);
  -webkit-box-shadow: var(--btnShadow);
          box-shadow: var(--btnShadow);
  color: var(--favs);
}

.menus .buttons .arrow {
  width: 36px;
  height: 36px;
  font-family: var(--font);
  background: var(--btnBg);
  border: var(--btnBorder);
  -webkit-box-shadow: var(--btnShadow);
          box-shadow: var(--btnShadow);
  color: var(--favs);
}

.menus .buttons .themes-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 10;
  margin: 5%;
}

.menus .buttons .themes-container:hover .choose,
.menus .buttons .themes-container:hover .arrow {
  outline: var(--outlined);
  outline-offset: var(--offset);
}

.menus .buttons .themes-name {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 5%;
  background: #e6e6e6;
  -webkit-box-shadow: var(--btnShadow);
          box-shadow: var(--btnShadow);
}

.menus .buttons .themes-name .themes-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 150px;
  height: 36px;
  margin: 5% 0;
  background: #f0f0f0;
  border: 1px solid #808080;
  -webkit-box-shadow: var(--btnShadow);
          box-shadow: var(--btnShadow);
  font-family: var(--font);
  text-align: left;
  padding: 0 5%;
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  line-height: 22px;
}

.menus .buttons .themes-name .themes-btn::after {
  content: "__";
  position: absolute;
  top: 35%;
  left: 6%;
}

.menus .buttons .themes-name .themes-btn:hover {
  background: #fff4fd;
  border: 1px solid #cca6c9;
  -webkit-box-shadow: inset -1px -1px 0 0 #e6dce4, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #e6dce4, inset 1px 1px 0 0 #ffffff;
}

.menus .buttons .show {
  display: block;
}

.menus .buttons .favorites-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 99px;
  height: 36px;
}

.menus .buttons .favorites-container:hover {
  outline: var(--outlined);
  outline-offset: var(--offset);
}

.menus .buttons .favorites-container .favorites {
  text-decoration: none;
  position: relative;
  font-size: 16px;
  color: var(--favs);
  letter-spacing: 0;
  line-height: 18px;
  font-family: var(--font);
}

.menus .buttons .favorites-container .favorites::after {
  content: "__";
  position: absolute;
  top: 20%;
  left: 0;
}

.menus .buttons .favorites-container .favorites:active {
  color: #110038;
}

/* search bar and search button */
.search-container {
  width: 100%;
  height: 99px;
  margin-top: 25px;
  background: #e6e6e6;
  -webkit-box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
          box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
}

.search-container .search-title {
  background-image: var(--gradient);
  width: 99.5%;
  height: 24px;
  margin: 0.1% 0.2%;
  font-family: var(--font);
  color: var(--favs);
}

.search-container .searchbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.search-container .searchbar .input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.search-container .searchbar .suggested-search {
  z-index: 20;
  top: 70px;
  left: 0;
  width: 100%;
  position: absolute;
  background: #e6e6e6;
  -webkit-box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
          box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-container .searchbar .suggested-search button {
  margin: 10px auto;
  margin-left: 4.6%;
  width: 84.9%;
  border: 1px solid #110038;
  font-family: var(--font);
  font-size: 18px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 1%;
}

.search-container .searchbar .suggested-search button:hover {
  outline: var(--outlined);
  outline-offset: var(--offset);
}

.search-container .searchbar input {
  width: 85%;
  height: 48px;
  margin: 1% 2%;
  padding: 0 0.5%;
  background: #ffffff;
  border: 1px solid #979797;
  -webkit-box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
          box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  line-height: 22px;
  font-family: var(--font);
}

.search-container .searchbar input::-webkit-input-placeholder {
  padding: 0 0.1%;
  font-family: var(--font);
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  line-height: 22px;
}

.search-container .searchbar input:-ms-input-placeholder {
  padding: 0 0.1%;
  font-family: var(--font);
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  line-height: 22px;
}

.search-container .searchbar input::-ms-input-placeholder {
  padding: 0 0.1%;
  font-family: var(--font);
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  line-height: 22px;
}

.search-container .searchbar input::placeholder {
  padding: 0 0.1%;
  font-family: var(--font);
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  line-height: 22px;
}

.search-container .searchbar button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 102px;
  height: 36px;
  background: #e6e6e6;
  border: 1px solid #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
}

.search-container .searchbar button:active {
  background: #f7c9f3;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
}

.search-container .show {
  display: block;
}

.suggested {
  width: 100%;
}

.suggested h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fffafe;
  border: 1px solid #e6bbe2;
  -webkit-box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #80687d;
          box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #80687d;
  color: #110038;
  padding-left: 1%;
  max-width: 100%;
  height: 32px;
  font-size: 14px;
  letter-spacing: 0;
  font-family: var(--font);
}

.suggested .suggested-container {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -webkit-column-gap: 12px;
          column-gap: 12px;
  width: 100%;
  margin: 20px 0;
  /* height: 400px; */
}

.suggested .suggested-container .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #e6e6e6;
  /* box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff; */
  width: 288px;
  height: 313px;
}

.suggested .suggested-container .card .card-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-image: var(--gradient);
  width: 280px;
  height: 24px;
}

.suggested .suggested-container .card .card-title .main-title {
  font-family: var(--font);
  color: #ffffff;
  height: 18px;
  font-size: 14px;
  letter-spacing: 0;
  margin-left: 5px;
}

.suggested .suggested-container .card .card-title .close {
  width: 16px;
  height: 14px;
  margin-right: 5px;
}

.suggested .suggested-container .card .card-body {
  position: relative;
}

.suggested .suggested-container .card .card-body img {
  width: 280px;
  height: 280px;
}

.suggested .suggested-container .card .card-body .more {
  position: absolute;
  bottom: 10px;
  left: 10px;
  height: 34px;
  width: 81px;
  background-color: var(--moreBtn);
  border: 1px solid #4c2f99;
  -webkit-box-shadow: inset -2px -2px 0 0 #284f99, inset 2px 2px 0 0 #ffffff;
          box-shadow: inset -2px -2px 0 0 #284f99, inset 2px 2px 0 0 #ffffff;
  color: white;
}

.suggested .suggested-container .card .card-body .more:hover {
  outline: var(--outlined);
  outline-offset: var(--offset);
}

.trends {
  width: 100%;
  height: auto;
  margin-bottom: 100px;
}

.trends h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fffafe;
  border: 1px solid #e6bbe2;
  -webkit-box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #80687d;
          box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #80687d;
  color: #110038;
  padding-left: 1%;
  max-width: 100%;
  height: 32px;
  font-size: 14px;
  letter-spacing: 0;
  font-family: var(--font);
}

.trends .trends-container {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  row-gap: 12px;
  width: 100%;
  height: auto;
  margin-top: 25px;
}

.trends .trends-container .trends-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.trends .trends-container .trends-card .trend-body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 290px;
  height: 304px;
}

.trends .trends-container .trends-card .trend-body .trend-img {
  position: absolute;
  width: 286px;
  height: 296px;
  padding: 1% 1%;
  z-index: 1;
  -webkit-transition: all 10s;
  transition: all 10s;
}

.trends .trends-container .trends-card .trend-body .trend-img:hover {
  outline: var(--outlined);
  outline-offset: var(--offset);
}

.trends .trends-container .trends-card .trend-body .trend-img:hover ~ .trend-bg {
  display: inline-block;
}

.trends .trends-container .trends-card .trend-body .trend-img:hover ~ .trend-title {
  opacity: 1;
}

.trends .trends-container .trends-card .trend-body .trend-bg {
  width: 294px;
  height: 304px;
  background: #e6e6e6;
  -webkit-box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
          box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
  z-index: -1;
  display: none;
}

.trends .trends-container .trends-card .trend-body .trend-title {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95%;
  height: 24px;
  background-image: var(--gradient);
  z-index: 2;
  left: 7px;
  bottom: 10px;
  font-family: var(--font);
  font-size: 14px;
  color: white;
  opacity: 0;
}

.results {
  width: 100%;
  height: auto;
  margin-bottom: 100px;
  display: none;
}

.results h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fffafe;
  border: 1px solid #e6bbe2;
  -webkit-box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #80687d;
          box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #80687d;
  color: #110038;
  padding-left: 1%;
  max-width: 100%;
  height: 32px;
  font-size: 14px;
  letter-spacing: 0;
  font-family: var(--font);
}

.results .results-container {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  row-gap: 12px;
  width: 100%;
  height: auto;
  margin-top: 25px;
}

.results .results-container .results-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.results .results-container .results-card .results-body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 290px;
  height: 304px;
}

.results .results-container .results-card .results-body .results-img {
  position: absolute;
  width: 286px;
  height: 296px;
  padding: 1% 1%;
  z-index: 1;
  -webkit-transition: all 10s;
  transition: all 10s;
}

.results .results-container .results-card .results-body .results-img:hover {
  outline: var(--outlined);
  outline-offset: var(--offset);
}

.results .results-container .results-card .results-body .results-img:hover ~ .results-bg {
  display: inline-block;
}

.results .results-container .results-card .results-body .results-img:hover ~ .results-title {
  opacity: 1;
}

.results .results-container .results-card .results-body .results-bg {
  width: 294px;
  height: 304px;
  background: #e6e6e6;
  -webkit-box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
          box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
  z-index: -1;
  display: none;
}

.results .results-container .results-card .results-body .results-title {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95%;
  height: 24px;
  background-image: var(--gradient);
  z-index: 2;
  left: 7px;
  bottom: 10px;
  font-family: var(--font);
  font-size: 14px;
  color: white;
  opacity: 0;
}

.misGuifos {
  margin-top: 50px;
  width: 90%;
}

.misGuifos h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fffafe;
  border: 1px solid #e6bbe2;
  -webkit-box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #80687d;
          box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #80687d;
  color: #110038;
  padding-left: 1%;
  max-width: 100%;
  height: 32px;
  font-size: 14px;
  letter-spacing: 0;
  font-family: var(--font);
  font-weight: normal;
}

.misGuifos .guifosContainer {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  row-gap: 12px;
  width: 100%;
  height: auto;
  margin-top: 25px;
}

.misGuifos .guifosContainer img {
  width: 280px;
  height: 304px;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .backArrow {
  width: 24px;
  height: 24px;
  margin-right: 15px;
}

body .mainCard {
  width: 684px;
  height: 386px;
  background: #e6e6e6;
  -webkit-box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
          box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: var(--font);
}

body .mainCard .title {
  display: inline-block;
  background-image: var(--gradient);
  width: 99%;
  font-family: var(--font);
  font-size: 16px;
  margin-top: 0;
}

body .mainCard .bodyTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  margin: 20px 0;
}

body .mainCard .bodyTitle img {
  margin-left: 2%;
}

body .mainCard .bodyTitle h2 {
  margin-left: 3%;
  font-family: var(--font);
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  line-height: 22px;
}

body .mainCard .cardBody {
  width: 80%;
  margin: 0 auto;
  font-size: 14px;
  color: #110038;
  letter-spacing: 0;
  line-height: 20px;
}

body .mainCard .cardBody ol {
  width: 100%;
  margin: 5% 3%;
  counter-reset: item;
}

body .mainCard .cardBody ol li {
  display: block;
}

body .mainCard .cardBody ol li::before {
  content: counter(item) ") ";
  counter-increment: item;
  font-weight: bold;
}

body .mainCard .cardFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}

body .mainCard .cardFooter button {
  width: 144px;
  height: 36px;
  margin: 2% 2%;
  font-family: var(--font);
  background: #fff4fd;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
}

body .preview {
  width: 860px;
  height: 548px;
  background: #e6e6e6;
  -webkit-box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
          box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: var(--font);
  padding: 5px 0;
}

body .preview .preview_title {
  display: inline-block;
  background-image: var(--gradient);
  width: 99%;
  font-family: var(--font);
  font-size: 16px;
  margin-top: 0;
}

body .preview .preview_body {
  width: 832px;
  height: 434px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .preview .preview_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 68%;
  margin-bottom: 20px;
  background: #e6e6e6;
}

body .preview .preview_footer .btn_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .preview .preview_footer .btn_container .camera {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 36px;
  height: 36px;
}

body .preview .preview_footer .btn_container .btn_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .preview .preview_footer .btn_container .btn_group .camera,
body .preview .preview_footer .btn_container .btn_group .cta_button {
  background: #ff6161;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #993a3a, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #993a3a, inset 1px 1px 0 0 #ffffff;
}

body .preview .preview_footer .btn_container .timer {
  width: 124px;
  height: 36px;
  background: #ffffff;
  border: 1px solid #979797;
  -webkit-box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
          box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .preview .preview_footer .stop {
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

body .preview .preview_footer .capture {
  display: none;
}

body .preview .preview_footer .upload {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .preview .preview_footer .upload .progres_bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .preview .preview_footer .upload .progres_bar .bar div {
  width: 12px;
  height: 20px;
  background: #999999;
}

body .preview .preview_footer button {
  width: 180px;
  height: 36px;
  background: #f7c9f3;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .preview .preview_footer button span {
  display: inline-block;
  width: 75%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  --bg: #fff4fd;
  --btnBg: #f7c9f3;
  --btnHover: #e6bbe2;
  --btnBorder: 1px solid #110038;
  --modeBg: #e6e6e6;
  --modeHover: #fff4fd;
  --gradient: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%);
  --font: "Chakra Petch", sans-serif;
  --btnShadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
  --outlined: 1px dashed black;
  --offset: -3px;
  --moreBtn: #3a72db;
  --favs: #110038;
}

body {
  background-color: var(--bg);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.main-content {
  width: 90%;
  height: auto;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html[data-theme="dark"] {
  --bg: #110038;
  --btnBg: #ee3efe;
  --btnHover: #e6bbe2;
  --btnBorder: 1px solid #110038;
  --modeBg: #e6e6e6;
  --modeHover: #fff4fd;
  --gradient: linear-gradient(270deg, #ee3efe 0%, #2e32fb 100%);
  --font: "Chakra Petch", sans-serif;
  --btnShadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
  --outlined: 1px dashed white;
  --offset: -3px;
  --moreBtn: #3a72db;
  --favs: #ffffff;
}
/*# sourceMappingURL=style.css.map */