@import "./_variables";
@import "./bienvenidos/_bienvenidos.scss";
@import "./main/_main.scss";

* {
    margin: 0;
    padding: 0;
}
html {
    width: 100%;
    height: 100%;
    body {
        width: 100%;
        height: 100%;
        background-color: $bgColor;
        font-family: $fonts;
        box-sizing: border-box;
        /*     display: flex;
        flex-direction: column; */
    }
}
