@import "./header/header";
@import "./main/suggested/suggested";
@import "./main/trend/trends";
@import "./main/results/results";
@import "./misGuifos/misguifos.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    --bg: #fff4fd;
    --btnBg: #f7c9f3;
    --btnHover: #e6bbe2;
    --btnBorder: 1px solid #110038;
    --modeBg: #e6e6e6;
    --modeHover: #fff4fd;
    --gradient: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%);
    --font: "Chakra Petch", sans-serif;
    --btnShadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
    --outlined: 1px dashed black;
    --offset: -3px;
    --moreBtn: #3a72db;
    --favs: #110038;
}

body {
    background-color: var(--bg);
    transition: all 0.3s;
}

.main-content {
    width: 90%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

html[data-theme="dark"] {
    --bg: #110038;
    --btnBg: #ee3efe;
    --btnHover: #e6bbe2;
    --btnBorder: 1px solid #110038;
    --modeBg: #e6e6e6;
    --modeHover: #fff4fd;
    --gradient: linear-gradient(270deg, #ee3efe 0%, #2e32fb 100%);
    --font: "Chakra Petch", sans-serif;
    --btnShadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
    --outlined: 1px dashed white;
    --offset: -3px;
    --moreBtn: #3a72db;
    --favs: #ffffff;
}
