@import "../variables";

.main-content {
    width: 1200px;
    margin: 0 auto;

    h1 {
        display: flex;
        align-items: center;
        background: #fffafe;
        border: 1px solid #e6bbe2;
        box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #80687d;
        color: #110038;
        padding-left: 1%;
        width: 100%;
        height: 32px;
        font-size: 14px;
        letter-spacing: 0;
        font-family: $fonts;
    }

    .suggested-container {
        display: grid;
        justify-items: center;
        align-items: center;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 12px;
        max-width: 100%;
        height: 400px;

        .suggested-img {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: #e6e6e6;
            box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
            width: 288px;
            height: 313px;

            .img-title {
                display: flex;
                align-items: center;
                justify-content: space-between;
                background-image: $gradient;
                width: 280px;
                height: 24px;

                h2 {
                    font-family: $fonts;
                    color: #ffffff;
                    height: 18px;
                    font-size: 14px;
                    letter-spacing: 0;
                    margin-left: 5px;
                }

                .close {
                    width: 16px;
                    height: 14px;
                    margin-right: 5px;
                }
            }

            img {
                width: 280px;
                height: 280px;
            }
        }
    }
}
